*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bebcbb;

}

.container{
    width: 1100px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.item-number{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 80px;
    height: 80px;
    margin: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.number{
    background-color: #000080;
}

.fizz{
    background-color: #FFB5C5;
}

.buzz{
    background-color: #FF69B4;
}

.fizzbuzz{
    background-color: #9400D3;
}


